In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("../data/casestudy.csv", index_col = [0])

In [8]:
df

               customer_email  net_revenue  year
0        nhknapwsbx@gmail.com       249.92  2015
1        joiuzbvcpn@gmail.com        87.61  2015
2        ukkjctepxt@gmail.com       168.38  2015
3        gykatilzrt@gmail.com        62.40  2015
4        mmsgsrtxah@gmail.com        43.08  2015
...                       ...          ...   ...
685922   qzqttwiftu@gmail.com       184.58  2017
685923   pjodiifjop@gmail.com       133.03  2017
685924   appaplmgko@gmail.com       200.98  2017
685925   wvkpmwsgck@gmail.com       235.35  2017
685926   aregboumbw@gmail.com       208.43  2017

[685927 rows x 3 columns]